body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

:root{
    --div-width-default: 450px;
    --div-width-mobile: 350px;
    --div-margin-bottom: 20px;
}