body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

:root{
    --div-width-default: 450px;
    --div-width-mobile: 350px;
    --div-margin-bottom: 20px;
    --div-margin-top: 20px;
}

a {
    color: gold;
    font-family: sans-serif;
    font-size: 20px;
}

p {
    margin: 10px 0;
}

.external-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: var(--div-width-default);
    margin-bottom: var(--div-margin-bottom);
}

@media (max-width : 1024px) {
    .external-div {
        width: var(--div-width-mobile);
    }
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 30px;
}

.internal-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    margin-top: 10px;
    width: 100%;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 17px;
    outline: 0;
    padding: 0 10px;
    width: 95%;
    height: 30px;
    margin-top: 10px;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}